[submodule "Doorstop"]
	path = Doorstop
	url = https://github.com/nike4613/UnityDoorstop-BSIPA
[submodule "BuildTools"]
	path = BuildTools
	url = https://github.com/beat-saber-modding-group/BS-Plugin-BuildTools.git
[submodule "docs/templates/darkfx"]
	path = docs/templates/darkfx
	url = https://github.com/steffen-wilke/darkfx.git
